@import "../silence.less";
@import "../mind.less";

@blog-bg-color: #fff;
@blog-theme-color: #2d8cf0;
@blog-border-color: #eef2f8;
@blog-font-color: #314659;
@blog-title-color: #404040;
@blog-github-fill-color: #2d8cf0;

@post-catalog-bg-color: #fff;
@post-catalog-font-color: #929aa2;
@post-table-thead-bg-color: #f7f7f7;
@post-table-border-color: #eef2f8;
@post-inline-code-bg-color: #f2f4f5;
@post-inline-code-border-color: #eee;
@post-cnblogs-code-bg-color: #f2f4f5;
@post-cnblogs-code-font-color: #656c73;
@post-signature-bg-color: #f8f8f8;
@post-blockquote-border-color: #dde5f1;
@comment-font-color: #434b69;
@comment-bg-color: rgba(193, 193, 193, 0.2);

.cnblogs-markdown .hljs {
  display: block;
  background: #272822 !important;
  color: #f8f8f2;
  overflow-x: auto;
  overflow-y: auto;
  border: none !important;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
  padding: 1em !important;
  font-size: 14px !important;
  max-height: 1200px;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}
.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}
.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}
.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}
.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}
.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}
.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}
